{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<center>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <br><br>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <br><br>
  	<input type="submit" value="Login" />
  	<input type="hidden" name="next" value="{{ next }}" />
</form>
</center>
{% endblock %}
