{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form method="post" role="form" name="login" id="login" action="{% url 'login' %}">
			    	{% csrf_token %}
                    <h5><fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username(ex. rajrajole)" name="username" type="text" required>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="" required>
			    		</div>
						{% if form.errors %}
							<p>Username/Password not matched.Try again.</p>
						{% endif %}
			    		<center><input class="btn btn-sm btn-success" type="submit" onClick="ga('send', {hitType: 'event', eventCategory: 'Login', eventAction: 'Click', eventLabel: 'User clicked on Login button'})" value="Login"></center>
			    		<input class="btn btn-lg btn-success btn-block" type="hidden" name="next" value="{{ next }}" />
			    	</fieldset></h5>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/css/formValidation.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.js"></script>
<script src="{% static "js/framework/bootstrap.js" %}"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#login').formValidation({
				framework: 'bootstrap',
        		message: 'This value is not valid',
        		icon: {
            		valid: 'glyphicon glyphicon-ok',
            		invalid: 'glyphicon glyphicon-remove',
            		validating: 'glyphicon glyphicon-refresh'
     			},
        		fields: {
            		username: {
                		message: 'The username is not valid',
                		validators: {
                    	notEmpty: {
                        	message: 'The username is required and can\'t be empty'
            	 	   		},
            		 	stringLength: {
                        	min: 6,
                        	max: 30,
                        	message: 'The username must be more than 6 and less than 30 characters long'
                			},
                    	regexp: {
                        	regexp: /^[a-zA-Z0-9_\.]+$/,
                        	message: 'The username can only consist of alphabetical, number, dot and underscore'
                   			}
             	   		}
            		},
            		password: {
                		validators: {
                    		notEmpty: {
                        	message: 'The password is required and can\'t be empty'
                    		},
                    	stringLength: {
                        	min: 6,
                      	 	max: 30,
                    		},
                    	regexp: {
                        	regexp: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/,
                        	message: 'must contain at least 1 Alphabet, 1 Number and 1 Special Character'
                	    	}
                		}
            		}
				}
			});
		});
</script>
{% endblock %}
