{% extends 'blog/base.html' %}

{% block content %}
    	<!-- Main Content -->
   		<div class="container" style="background-color: #fff;">
        	<div class="row">
            	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            		{% for post in posts %}
                	<div class="post">
                    	<a href="{% url 'blog.views.post_detail' pk=post.pk %}">
                        	<h4 class="post-title">
                            	{{ post.title }}
                        	</h4>
                    	</a>
                    	<p>{{ post.text|truncatechars:200 }}</p>
                    	<p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>

                    	<a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
               		</div>
               		{% endfor %}
               		<br>
            	</div>    
        	</div>
        </div>
    	<hr>   
    	<div class="row" style="margin-right: 45%">
               <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
      	</div>
    
{% endblock content %}